<h2 class="title"><%= @tree.name %></h2>

<% @depths.each_with_index do |nodes, index| %>
  <div class="nodes_depth_div">
    <h3 class="node_depth_title">Depth <%= index %>: </h3>
    <% nodes.each do |node| %>
      <p class="node_div">
        Node: <%= node.id %><br>
        Value: <%= node.value%><br>
        Parent: <%= node.node_id %></p>
    <% end %>
  </div>
<% end %>

<h3 class="tree_stats_title">Properties:</h3>
<p class="tree_stats_text">Minimax value: <%= @minimax_value %> </p>
<p class="tree_stats_text">Node count: <%= @node_count %> </p>
<p class="tree_stats_text">Depth-first-search order (by node id): <%= @dfs_values %></p>

